/* Пример подключения фона */
/*@font-face {
	font-family: "FontName";
	src: url("fonts/FontName/FontName.eot");
	src: url("fonts/FontName/FontName.eot?#iefix") format("embedded-opentype"),
			 url("fonts/FontName/FontName.woff") format("woff"),
			 url("fonts/FontName/FontName.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}*/